*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #014E56;
    font-family: "Livvic",sans-serif;
    box-sizing: border-box;
}
button{
    font-family:"Livvic",sans-serif ;
}
.container{
    max-width:1110px ;
    margin: 0 auto;
    padding: 0 20px;
}