.site-footer {
    background-color: #002529;
}
.footer {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}
.footer__logo-wrapper{
    @include Display($items:start,$justify:start,$gap:125px);
}
.footer__list {
    margin-top: 25px;
    display: flex;
    gap: 40px;
}
.footer__item {
    @include Textstyle ($CLR:$clr-white,$FW:600,$FS:18px,$LH:28px,);
    transition: all 0.3s;
    &:hover{
        color: $clr-pink;
    }
}
.footer__text-wrapper {
    width: 190px;
}
.footer__text {
    @include Textstyle ($CLR:gray,$FW:600,$FS:15px,$LH:25px,);
}
.footer__socials-wrapper>p{
    @include Textstyle ($CLR:gray,$FW:600,$FS:15px,$LH:25px,);
}
.socials {
    display: flex;
    gap: 16px;
    justify-content:end;
    margin-bottom: 46px;
}
@media (max-width:850px){
    .footer__logo-wrapper{
    text-align: end;
    @include Display($items:center,$justify:space-between,$gap:0px);
    }
    .site-footer{
        padding: 0 40px;
    }
    .footer {
    padding: 40px 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    }
    .footer__socials-wrapper{
        @include Display($items:center,$justify:space-between,$gap:0px);
    }
    .socials{
        margin-top: 49px;
        vertical-align: middle;
    }
}
@media (max-width:560px){
    .footer{
        flex-direction: column;
        gap: 40px;
        gap: 32px;
    }
    .footer__item{
        text-align: center;
    }
    .footer__logo-wrapper{
        @include Display($items:center,$justify:start,$gap:24px);
        text-align: center;
        flex-direction: column;
    }
    .footer__text-wrapper{
        text-align: center;
    }
    .footer__socials-wrapper{
        flex-direction: column;
        margin: 0 auto;
    }
    .socials{
        margin-bottom: 16px;
        justify-content: center;
    }
}